<!DOCTYPE html>
<html>
  <head>
    <title>EA</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to EA Blog Posts</p>
    <ul>
      <li>visit <b>/posts</b> to view the list of posts.</li>
      <li>click on a post to view its content and to see what people think
        about it, you can also leave a comment if you would like to.</li>
      <br />
      <li>visit <b>/posts/new </b> to create a new post on one the EA awesome games</li>
      </l>
    </ul>
  </body>
</html>
