<!DOCTYPE html>
<html>
    <head>
        <title>EA Games Review</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
        <body>
            <h1>New Post</h1>
            <form action="/posts/create" method="post" name="ea-blog">
                Author: <input type="text" name="author" required><br>
                Title: <input type="text" name="title" required><br>
                <textarea class="textarea-content" name="content" required></textarea>
                <button class="submit-button">submit</button>
            </form>
        </body>
</html>
